/*======================================== Importing google fonts ========================================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*=========================================== General styling ===========================================*/
body{
    padding: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #1f2937;
}

/*======================================== App container styling ========================================*/
#app-container{
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

/*Header styling*/
header{
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

/*h1 styling*/
header h1{
    font-size: 40px;
    font-weight: 700;
    color: #1f2937;
}

/*Header buttons styling*/
#header-buttons{
    display: flex;
    gap: 8px;
}

/*Header  button icon styling*/
#header-buttons i{
    margin-right: 16px;
}

/*Add Transaction button styling*/
#add-trans{
    display: flex;
    align-items: center;
    background-color: #2563eb;
    color: white;
    border:none;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(37, 99, 235, 0.4);
    cursor: pointer;
}

/*Add Transaction button hover styling*/
#add-trans:hover{
    background-color: #1e40af ;
}

/*Download CSV button styling*/
#download-CSV{
    display: flex;
    align-items: center;
    background-color: #5a6472;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(75, 85, 99, 0.4);
    cursor: pointer;
}

/*Download CSV button hover styling*/
#download-CSV:hover{
    background-color: #374151;
}

/*-------------- Financial summary section styling --------------*/
#financial-summary{
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

/*Financial summary section box styling*/
#financial-summary > div{
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/*Financial summary h2 styling*/
#financial-summary h2{
    font-size: 20px;
    font-weight: 500;
    color: #4b5563;
    margin-bottom: 8px;
} 

/*Financial summary p styling*/
#financial-summary p{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

/*Total income box styling*/
#total-income-card{
    background-color: #d1fae5;
}

#total-income{
    color: #16a34a;
}

/*Total expenses box styling*/
#total-expense-card{
    background-color: #fee2e2;
}

#total-expense{
    color: #dc2626;
}

/*Net balance box styling*/
#net-balance-card{
    background-color: #dbeafe;
}

#net-balance{
    color: #2563eb;
}

/*-------------- Filter Transaction Styling --------------*/
#filter-section{
    margin-bottom: 32px;
    padding: 16px;
    background-color: #f3f4f6;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(75, 85, 99, 0.4);
}

/*h2 styling*/
#filter-section h2{
    font-size: 30px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 16px;
}

/*Container styling*/
#filter-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-end;
}

/*Filter Item styling*/
.filter-item{
    flex: 1 1 200px;
}  

/*Filter Item label styling*/
.filter-item label{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 4px;
}

.filter-item select,
.filter-item input[type="date"]{
    width:200px;
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    box-shadow: 0 0 0 0 transparent;
    font-size: 15px;
    outline: none;
}    

/*Clear filter container styling*/
#clear-filter-container{
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

/*Clear filter button styling*/
#clear-filter-btn{
    background-color: #d1d5db;
    color: #374151;
    font-weight: 600;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/*Clear filter button hover styling*/
#clear-filter-btn:hover{
    background-color: #9ca3af;
}

/*-------------- Transaction History Table Styling --------------*/
#transaction-history{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

/*-------------- Transaction Header Styling --------------*/
.transaction-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

/*Transcaction history h2 styling*/
.transaction-header h2{
    font-size: 30px;
    font-weight: 700;
    color: #1f2937;
    margin: 0;
}

/*-------------- Sort-By Styling --------------*/
.sort-item select{
    width:200px;
    padding: 4px 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    box-shadow: 0 0 0 0 transparent;
    font-size: 15px;
    outline: none;
    color: #333d4a;
}    

/*Table container styling*/
#trans-container{
    overflow-x: auto;
    background-color: #f9fafb;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(75, 85, 99, 0.4);
}

/*Table styling*/
#trans-table{
    width: 100%;
    border-collapse: collapse;
    min-width: none;
}

#trans-table thead{
    background-color: #f3f4f6;
}

#trans-table th,
#trans-table td{
    padding: 12px 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #374151;
    border-bottom: 1px solid #e5e7eb;
}

#trans-table tbody tr{
    background-color: white;
}

#trans-table tbody tr:nth-child(even){
    background-color: #f9fafb;
}

/*------------- Chart Section styling -------------*/
#chart-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    background-color: #f3f4f6;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(75, 85, 99, 0.4);
    margin-top: 40px;
    align-items: center;
}

/*Char section h2 styling*/
#chart-section h2{
    font-size: 30px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 16px;
}

#chart-container{
    width: 300px;
    height: 300px;
}

/*======================================== Add/Edit Transaction Form Styling ========================================*/
.modal-overlay{
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
} 

/*Hidding the form*/
.hidden{
    display: none !important;
}  

/*---------------------- Transaction Form Styling ----------------------*/
#add-content{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
    padding: 20px 32px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/*Heading styling*/
#form-header h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #1f2937;
}

/*Form Header Styling*/
#form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

/*Close button styling*/
#close-button{
    background-color: white;
    border: none;
    color: #9ca3af;
    cursor: pointer;
    font-size: 20px;
}

/*Close button hover*/
#close-button:hover{
    color: #5a6068;
}

/*Form Styling*/
form{
    display: flex;
    flex-direction: column;
}

.form-group{
    margin-bottom: 20px;
}

/*Form Label styling*/
.form-group label{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 6px;
    margin-top: 16px;
}

/*Form Input and select area styling*/
.form-group input,
.form-group select{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 0 0 transparent;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus{
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59,130,246,0.3);
}

/*Category options styling*/
#category-options{
    display: flex;
    gap: 24px;
    margin-top: 4px;
}

/*Category options label styling*/
#category-options label{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    color: #374151;
}

/*Date and subcategory input area styling*/
#date,
#sub-category{
    color: #333d4a;
    font-size: 16px;
    font-weight: 300;
}

/*Form container styling*/
#form-submit-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

/*Submit button styling*/
#submit-btn{
    background-color: #2563eb;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/*Submit button hover styling*/
#submit-btn:hover{
    background-color: #1e40af;
}

/*======================================== Confirmation modal for deletion ========================================*/
#confirmation-modal-content{
    background-color: white;
    padding: 24px 28px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    width: 350px;
    max-width: 90%;
    text-align: left;
}

/*Heading Styling*/
#confirmation-modal-content h2{
    margin: 0 0 10px;
    font-size: 24px;
    color: #111827;
}

/*p styling*/
#confirmation-modal-content{
    margin: 0 0 20px;
    font-size: 16px;
}

/*Buttons position Styling*/
#confirmation-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

/*Confirmation button styling*/
#confirmation-buttons button{
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/*Cancel button styling*/
#cancel-btn{
    background-color: #d6d8dd;
    color: #111827;
}

/*Cancel button hover styling*/
#cancel-btn:hover{
    background-color: #aeb0b4;
}

/*Delete Button Styling*/
#delete-btn{
    background-color: #dc2626;
    color: white;
}

/*Delete button hover styling*/
#delete-btn:hover{
    background-color: #a01818;
}

/*======================================== Edit button styling ========================================*/
.edit-btn{
    background-color: white;
    border: none;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}

.edit-btn:hover{
    color: rgb(3, 3, 120);
}

/*======================================== Delete button styling ========================================*/
.delete-btn{
    background-color: white;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn:hover{
    color: rgb(177, 8, 8);
}

/*======================================== Inline error message styling ========================================*/
.error-message{
    color: #dc2626;
    font-size: 12px;
    margin-top: 4px;
}

/*======================================== Responsive ========================================*/
@media (max-width: 768px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    #header-buttons,
    #add-trans,
    #download-CSV{
        width: 100%;
        justify-content: center;
        margin-top: 8px;
    }

    #chart-section{
        padding: 16px;
    }

    #chart-container{
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    #filter-container{
        flex-direction: row;
        gap: 12px;
    }

    .filter-item{
        flex: 1 1 100%;
    }

    #financial-summary{
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    #financial-summary>div{
        padding: 16px;
    }

    #trans-table{
        min-width: 500px;
    }
}
